/* inside style.css */
.highlight {
    background-color: yellow;
}
  
.error {
  background-color: lightcoral;
  border: red;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    text-align: center;
}